* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-dark: #dce5f6;
  --bg: #e9f2ff;
  --bg-light: #f7ffff;
  --text: #030920;
  --text-muted: #3a4763;
  --highlight: #eeffff;
  --border: #71809f;
  --border-muted: #8f9fbe;
  --primary: #2b457d;
  --secondary: #614100;
  --danger: #7d5952;
  --warning: #6a6443;
  --success: #4a6c59;
  --info: #536480;
  --shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 4px 4px rgba(0, 0, 0, 0.15);
  --shadow-hover: 0px 2px 2px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dark-mode {
  --bg-dark: #01030b;
  --bg: #060b16;
  --bg-light: #101621;
  --text: #e1f2ff;
  --text-muted: #a1b1d2;
  --highlight: #556380;
  --border: #3a4763;
  --border-muted: #212d47;
  --primary: #91b1f1;
  --secondary: #cfac64;
  --danger: #bc938c;
  --warning: #a5a07c;
  --success: #84a894;
  --info: #8d9fbe;
  --shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 4px 4px rgba(0, 0, 0, 0.15);
  --shadow-hover: 0px 2px 2px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
  background-color: var(--bg-dark);
  color: var(--text);
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.theme-btn {
  cursor: pointer;
  grid-column: 3;
  justify-self: end;
  font-size: 1.5rem;

  background: var(--bg-light);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;

  transition: background-color 0.3s;

  &:hover {
    background-color: var(--bg-dark);
  }

  @media (max-width: 768px) {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    background: transparent;
  }
}

.container {
  position: relative;

  min-height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 30px 0px;
}

.page-section {
  display: none;
}

.page-section.active {
  display: block;
  animation: sectionFadeIn 0.5s ease;
  background-color: var(--bg);
  border-radius: 0.3rem;
}

@keyframes sectionFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loading-btn {
  border: 5px solid var(--bg-dark);
  border-top: 5px solid var(--border);
  border-right: 5px solid var(--border);
  border-bottom: 5px solid var(--border);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

button {
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
