@use "mixins" as *;

header {
  position: sticky;
  background-color: var(--bg);
  top: 0;

  z-index: 1000;
}

.navigation-box {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  padding: 1rem;

  @media (max-width: 768px) {
    padding: 1rem;
    gap: 0.5rem;
  }
}

.navigation-list {
  grid-column: 2;

  @include flex($justify: flex-start, $gap: 4rem);

  @media (max-width: 768px) {
    gap: 1rem;
  }
}

.nav-item {
  cursor: pointer;

  font-size: clamp(0.5rem, 2vw, 1rem);
  transition: color 0.3s;

  &:hover {
    color: var(--primary);
  }
}

.nav-item.active {
  font-size: clamp(0.5rem, 3vw, 2rem);
  font-weight: 700;
  color: var(--text);
}
