@use "mixins" as *;

#history {
  text-align: center;
  width: 40%;
  padding-block: 1rem;

  @media (max-width: 768px) {
    width: 80%;
  }
}

.container-history {
  @include flex($dir: column);
}

.number-of-entries {
  font-size: 2vw;

  @media (max-width: 768px) {
    font-size: 5vw;
  }
}

.history-list {
  @include flex($dir: column, $gap: 1rem);
  width: 80%;

  padding-block: 1rem;
}

.history-item {
  cursor: pointer;

  background-color: var(--bg-light);
  padding: 1rem;

  width: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;

  border: 0.03rem solid var(--border-muted);
  border-radius: 0.3rem;

  transition: background-color 0.3s;

  &:hover {
    background-color: var(--bg-dark);
  }

  @media (max-width: 768px) {
    padding: 0.3rem;
    font-size: 4vw;
  }
}
