@use "mixins" as *;

#search-form {
  @include flex($dir: column, $gap: 20px);
  padding: 1rem;
}

.search-label {
  font-size: clamp(0.5rem, 4vw, 2rem);
  font-weight: 700;
}

#country-search {
  border: 0.02rem solid var(--border);
  border-radius: 0.3rem;
  font-size: 1rem;
  text-align: center;
  padding: 10px;

  width: 50%;

  &:focus {
    border: none;
  }
}

.button-box {
  @include flex($gap: 1rem);
}

#btn-search {
  border: 0.02rem solid var(--border);
  background-color: var(--primary);
  color: var(--bg-dark);
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  border-radius: 0.3rem;

  transition: color 0.3s, background-color 0.3s;

  &:hover {
    background-color: var(--bg-dark);
    color: var(--text-muted);
  }
}

.all-countries-btn {
  border: 0.1px solid var(--border);
  background-color: var(--bg-light);
  color: var(--text-muted);
  cursor: pointer;
  white-space: nowrap;
  padding: 0.8rem 1.6rem;
  border-radius: 0.3rem;
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    background-color: var(--text-muted);
    color: var(--bg-dark);
  }
}

.search-result {
  max-height: 30rem;
  @include flex($justify: flex-start, $dir: column, $gap: 20px);
  padding-bottom: 1rem;
  overflow: scroll;
}

.country-box {
  width: 80%;
  max-width: auto;

  position: relative;
  @include flex($justify: flex-start, $gap: 3rem);

  background-color: var(--bg-light);

  border: 0.1rem solid var(--highlight);
  box-shadow: var(--shadow);

  padding: 10px 30px;
  border-radius: 1rem;

  transition: box-shadow 0.3s;

  &:hover {
    background-color: var(--bg-light);
    box-shadow: var(--shadow-hover);
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
  }

  img {
    width: 25%;

    @media (max-width: 768px) {
      width: 40%;
    }
  }
}

.result-number {
  font-size: 1.2rem;

  @media (max-width: 768px) {
    font-size: clamp(1.3rem, 2.5vw, 1.8rem);
  }
}

.error-message {
  color: var(--danger);
}

.fav-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgb(186, 186, 11);
  transition: color 0.2s;

  &:hover {
    color: rgb(241, 241, 8);
  }
}
