* {
  box-sizing: border-box;
}

:root {
  --bg-dark: #dce5f6;
  --bg: #e9f2ff;
  --bg-light: #f7ffff;
  --text: #030920;
  --text-muted: #3a4763;
  --highlight: #eeffff;
  --border: #71809f;
  --border-muted: #8f9fbe;
  --primary: #2b457d;
  --secondary: #614100;
  --danger: #7d5952;
  --warning: #6a6443;
  --success: #4a6c59;
  --info: #536480;
}

.darkmode {
  --bg-dark: #01030b;
  --bg: #060b16;
  --bg-light: #101621;
  --text: #e1f2ff;
  --text-muted: #a1b1d2;
  --highlight: #556380;
  --border: #3a4763;
  --border-muted: #212d47;
  --primary: #91b1f1;
  --secondary: #cfac64;
  --danger: #bc938c;
  --warning: #a5a07c;
  --success: #84a894;
  --info: #8d9fbe;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-dark);
  color: var(--text);
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

header {
  position: sticky;
  background-color: var(--bg);
  top: 0;
}

h1 {
  margin: 20px 0 0 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.page-section {
  display: none;
}

.page-section.active {
  display: block;
  animation: sectionFadeIn 0.5s ease;
  background-color: var(--bg);
  border-radius: 2rem;
  padding-top: 1rem;
}

@keyframes sectionFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-container {
  border-radius: 5px;
  padding-top: 1rem;
  background: none;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: calc(100vh - 80px);
  width: 100vw;
  /* flex-direction: column; */
}

#search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50vw;
  gap: 20px;
}

.search-label {
  font-size: 2rem;
  font-weight: 700;
}

#country-search {
  border: 0.08rem solid var(--border);
  border-radius: 0.3rem;
  font-size: 1rem;
  text-align: center;
  padding: 10px;

  width: 50%;
}

#country-search:focus {
  border: none;
}

#btn-search {
  border: 0.1px solid var(--border);
  background-color: var(--primary);
  color: var(--bg-dark);
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 0.3rem;

  font-size: 1rem;

  transition: color 0.3s, background-color 0.3s;
}

#btn-search:hover {
  background-color: var(--bg-dark);
  color: var(--text-muted);
}

.all-countries-btn {
  border: 0.1px solid var(--border);
  background-color: var(--bg-light);
  color: var(--text-muted);
  cursor: pointer;
  white-space: nowrap;
  padding: 10px 30px;

  font-size: 1rem;

  border-radius: 0.3rem;
  transition: color 0.3s, background-color 0.3s;
}

.all-countries-btn:hover {
  background-color: var(--text-muted);
  color: var(--bg-dark);
}

.search-result {
  max-height: 500px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  gap: 20px;
  padding-inline-start: 0;
  margin: 0;
}

.country-box {
  position: relative;
  background-color: var(--bg);

  width: 90%;
  max-width: 500px;

  list-style-type: none;
  border: 0.1rem solid var(--border);

  display: flex;
  align-items: center;
  gap: 80px;

  padding: 0px 30px;
  margin: 0 auto;
  border-radius: 1rem;
}

.country-box:hover {
  background-color: var(--bg-light);
}

.country-box img {
  width: 25%;
}

.result-number {
  margin-left: 1.9rem;
  font-size: 1.2rem;
}

.error-message {
  color: var(--danger);
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.fav-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgb(186, 186, 11);
  transition: color 0.2s;
}

.fav-btn:hover {
  color: rgb(241, 241, 8);
}

.loading-btn {
  border: 5px solid var(--bg-dark);
  border-top: 5px solid var(--border);
  border-right: 5px solid var(--border);
  border-bottom: 5px solid var(--border);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.navigation-box {
  margin-bottom: 20px;
}

.navigation-list {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 1rem 0;

  gap: 30px;
}

.nav-item {
  cursor: pointer;

  white-space: nowrap;
  font-size: clamp(0.3rem, 3vw, 1rem);

  transition: color 0.3s;
}

.nav-item:hover {
  color: var(--primary);
}

.nav-item.active {
  font-size: clamp(1.3rem, 5vw, 3rem);
  font-weight: 700;
  color: var(--text);
}
