* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafdff;
  color: #00417a;
}

h1 {
  margin: 20px 0 0 0;
}

.search-container {
  padding: 0px 100px;
  border-radius: 10px;
  background-color: #ebf7ff;
  position: relative;
}

#search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  gap: 20px;
}

#country-search {
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

#country-search:focus {
  border: none;
}

#btn-search {
  border: none;
  background-color: #00417a;
  color: #fafdff;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s;
}

#btn-search:hover {
  background-color: #fafdff;
  color: #00417a;
}

.search-result {
  max-height: 500px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.country-box {
  position: relative;
  list-style-type: none;
  background-color: #fff;
  width: 500px;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  gap: 80px;
}

.country-box img {
  width: 100px;
}

.result-number {
  margin: 0;
}

.error-message {
  color: red;
}

.button-box {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all-countries-btn {
  border: 0.1px solid #00417a;
  background-color: #fafdff;
  color: #00417a;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s;
}

.all-countries-btn:hover {
  background-color: #00417a;
  color: #fafdff;
}

.fav-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgb(186, 186, 11);
  transition: color 0.2s;
}

.fav-btn:hover {
  color: rgb(241, 241, 8);
}

.loading-btn {
  border: 5px solid #ece7e7;
  border-top: 5px solid #3498db;
  border-right: 5px solid #3498db;
  border-bottom: 5px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
