* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-dark: oklch(0.92 0.025 138);
  --bg: oklch(0.96 0.025 138);
  --bg-light: oklch(1 0.025 138);
  --text: oklch(0.15 0.05 138);
  --text-muted: oklch(0.4 0.05 138);
  --highlight: oklch(1 0.05 138);
  --border: oklch(0.6 0.05 138);
  --border-muted: oklch(0.7 0.05 138);
  --primary: oklch(0.4 0.1 138);
  --secondary: oklch(0.4 0.1 318);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  --shadow-hover: 0px 2px 2px hsla(0, 0%, 0%, 0.15),
    0px 4px 4px hsla(0, 0%, 0%, 0.25);
}

.darkmode {
  --bg-dark: #01030b;
  --bg: #060b16;
  --bg-light: #101621;
  --text: #e1f2ff;
  --text-muted: #a1b1d2;
  --highlight: #556380;
  --border: #3a4763;
  --border-muted: #212d47;
  --primary: #91b1f1;
  --secondary: #cfac64;
  --danger: #bc938c;
  --warning: #a5a07c;
  --success: #84a894;
  --info: #8d9fbe;
}

body {
  background-color: var(--bg-dark);
  color: var(--text);
  font-family: "Montserrat", sans-serif;
}

header {
  position: sticky;
  background-color: var(--bg);
  top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.navigation-box {
  display: flex;
  justify-content: center;
}

.navigation-list {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  gap: 4rem;
}

.nav-item {
  cursor: pointer;

  font-size: clamp(0.3rem, 2vw, 1rem);
  transition: color 0.3s;
}

.nav-item:hover {
  color: var(--primary);
}

.nav-item.active {
  font-size: clamp(0.5rem, 3vw, 2rem);
  font-weight: 700;
  color: var(--text);

  /* animation: scaleFontNavigation 0.5s ease; */
}

/* @keyframes scaleFontNavigation {
  from {
    font-size: clamp(0.3rem, 2vw, 1rem);
  }
  to {
    font-size: clamp(0.5rem, 3vw, 2rem);
  }
} */

.container {
  position: relative;

  /* margin: 10px 0; */
  min-height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 30px 0px;
}

.page-section {
  display: none;
}

.page-section.active {
  display: block;
  animation: sectionFadeIn 0.5s ease;
  background-color: var(--bg);
  border-radius: 0.3rem;
  padding-bottom: 30px;
}

@keyframes sectionFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
  padding: 1rem;
  padding-bottom: 0;
}

.search-label {
  font-size: clamp(0.5rem, 4vw, 2rem);
  font-weight: 700;
}

#country-search {
  border: 0.02rem solid var(--border);
  border-radius: 0.3rem;
  font-size: 1rem;
  text-align: center;
  padding: 10px;

  width: 50%;
}

#country-search:focus {
  border: none;
}

#btn-search {
  border: 0.02rem solid var(--border);
  background-color: var(--primary);
  color: var(--bg-dark);
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  border-radius: 0.3rem;

  transition: color 0.3s, background-color 0.3s;
}

#btn-search:hover {
  background-color: var(--bg-dark);
  color: var(--text-muted);
}

.all-countries-btn {
  border: 0.1px solid var(--border);
  background-color: var(--bg-light);
  color: var(--text-muted);
  cursor: pointer;
  white-space: nowrap;
  padding: 0.8rem 1.6rem;
  border-radius: 0.3rem;
  transition: color 0.3s, background-color 0.3s;
}

.all-countries-btn:hover {
  background-color: var(--text-muted);
  color: var(--bg-dark);
}

.search-result {
  max-height: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;

  overflow: scroll;

  padding-bottom: 1rem;
}

.country-box {
  position: relative;
  background-color: var(--bg-light);

  width: 80%;
  max-width: auto;

  border: 0.1rem solid var(--highlight);
  box-shadow: var(--shadow);

  display: flex;

  align-items: center;

  gap: 3rem;

  padding: 10px 30px;
  border-radius: 1rem;

  transition: box-shadow 0.3s;
}

.country-box:hover {
  background-color: var(--bg-light);
  box-shadow: var(--shadow-hover);
}

.country-box img {
  width: 25%;
}

.result-number {
  font-size: 1.2rem;
}

.error-message {
  color: var(--danger);
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.fav-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgb(186, 186, 11);
  transition: color 0.2s;
}

.fav-btn:hover {
  color: rgb(241, 241, 8);
}

.loading-btn {
  border: 5px solid var(--bg-dark);
  border-top: 5px solid var(--border);
  border-right: 5px solid var(--border);
  border-bottom: 5px solid var(--border);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#favourites {
  padding: 1rem 3rem;
}

.favourite-paragraph {
  font-size: clamp(0.3rem, 2vw, 1rem);
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.flags-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 2rem;
}

.grid-country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: clamp(0.3rem, 2vw, 1rem);
  text-align: center;
  gap: 0.5rem;
}

.grid-country__img {
  width: 80%;
}
